@import "tailwindcss";

@theme {
	--color-orange-dark: #D88127;
	--color-orange-bright: #F9A636;
	--color-white-pink: #FFF0F3;
	--color-yellow-light: #FEE48B;
	--color-pink-bright: #F393B4;
	--color-pink-dark: #C54390;
	--color-blue-dark: #0e387a;
	--color-blue-bright: #359BBF;
}

.galindo {
	font-family: "Galindo", sans-serif;
}

.outfit {
	font-family: "Outfit", serif;
}

.pink-gradient-text {
	background: linear-gradient(to bottom right, rgb(243,147,180), rgb(255,198,217));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

.pink-outlined-text {
	background: linear-gradient(to bottom right, #F393B4, #FFC7DA);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	-webkit-text-stroke: 1.75px #0E387A;
	paint-order: stroke fill;
}

.pink-outlined-text-sm {
	background: linear-gradient(to bottom right, #F393B4, #FFC7DA);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	-webkit-text-stroke: 1px #0E387A;
	paint-order: stroke fill;
}

.pink-outlined-text-drop-shadow {
	background: linear-gradient(to bottom right, #F393B4, #FFC7DA);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	-webkit-text-stroke: 2px #0E387A;
	paint-order: stroke fill;
	text-shadow: 0px 2.5px 2.5px #0E387A;
}


.gradient-text {
	background: linear-gradient(to bottom, #ffffff 0%, #f393b4 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;

	-webkit-text-stroke: 1.75px #0e387a;
	/* 
	text-shadow: 1px 1px 0 #0e387a, -1px 1px 0 #0e387a, 1px -1px 0 #0e387a,
		-1px -1px 0 #0e387a; */
}

.glassbox-white {
	background: linear-gradient(to bottom, #FFFFFFBF 0%, #FFFAF1BF 100%);
	box-shadow: 0 10px 0px #EBE3D8, 0 16px 8px #0E387A80;
}

.glassbox-clear {
	background: linear-gradient(to bottom, #FFFFFF66 0%, #FFFAF166 100%);
	outline: 2px solid #0E387A28;
}

.boardwalk {
	background-image: url('/imgs/planks2.png');
	background-size: 150%;
	background-position: center;
	backdrop-filter: blur(32px);
	box-shadow: 0 -32px 0px #DAB6C2;
}